# Variadic Finctions In Python

In [1]:
def add(a: int|float, b: int|float) -> int|float:
    c = a + b
    return c

In [2]:
# Arguments input
add(3, 4)

7

In [3]:
add(4.5, 2)

6.5

In [4]:
# Keyword arguments in python
add(a=23, b=11)

34

In [5]:
add(a=11.5, b=12.3)

23.8

# Create args inside function
*args - this will act like a tuple in python

In [6]:
def function1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [7]:
function1(3, 4)

(3, 4)
<class 'tuple'>
3
4

In [8]:
function1("Shubham", 28, "Data Analyst", "B+ve")

('Shubham', 28, 'Data Analyst', 'B+ve')
<class 'tuple'>
Shubham
28
Data Analyst
B+ve

In [9]:
a = ["Example", True, False, 12.5, 11.2, 13]
type(a)

list

# Upack a list using *list_name

In [10]:
function1(*a)

('Example', True, False, 12.5, 11.2, 13)
<class 'tuple'>
Example
True
False
12.5
11.2
13

## Given the cart products of a customer perform total billing of products

In [14]:
c1 = [
    ("Laptop", 75000, 1),
    ("Mouse", 2500, 2),
    ("Keyboard", 1000, 1)
]

In [12]:
def billing(*args):
    # Initalize total bill to 0
    total_bill = 0

    # Apply for loop on args
    for name, price, qty in args:
        subtotal = price*qty
        total_bill = total_bill + subtotal
        print(f"Name : {name}, Price : {price} INR, Quantity : {qty}")
        print(f"Subtotal : {subtotal} INR")
        print("\n=======================================================\n")
    
    # Print and return total bill
    print(f"Total Bill : {total_bill:.2f} INR")
    return total_bill

In [15]:
c1

[('Laptop', 75000, 1), ('Mouse', 2500, 2), ('Keyboard', 1000, 1)]

In [16]:
t1 = billing(*c1)

Name : Laptop, Price : 75000 INR, Quantity : 1
Subtotal : 75000 INR

=======================================================

Name : Mouse, Price : 2500 INR, Quantity : 2
Subtotal : 5000 INR

=======================================================

Name : Keyboard, Price : 1000 INR, Quantity : 1
Subtotal : 1000 INR

=======================================================

Total Bill : 81000.00 INR

In [17]:
t1

81000

In [19]:
t2 = billing(
    ("Mobile", 40000, 2),
    ("Screen Guard", 800, 4),
    ("Headphones", 2000, 1),
    ("Phone cover", 600, 2)
)

Name : Mobile, Price : 40000 INR, Quantity : 2
Subtotal : 80000 INR

=======================================================

Name : Screen Guard, Price : 800 INR, Quantity : 4
Subtotal : 3200 INR

=======================================================

Name : Headphones, Price : 2000 INR, Quantity : 1
Subtotal : 2000 INR

=======================================================

Name : Phone cover, Price : 600 INR, Quantity : 2
Subtotal : 1200 INR

=======================================================

Total Bill : 86400.00 INR